h1{
    color: white;
    top: 550px;
}

h2{
  font-size: 30px;
}



.text{
  font-size: 14px;
}

.seccion{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

body{

  font-family: 'Gruppo', cursive;
  font-family: 'Piazzolla', serif;
  font-size: 1rem;
  line-height: 1;
}

/*.navegacion a{

    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;

}*/
  

/*header*/

/*.site-header.inicio{
    
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}*/

/*contenedor{
     max-width: 1500px; 
    margin: 0 auto; 
    width: 100%;

}*/

.barra3{
    display: flex;
    justify-content: space-between;
    /*margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 550px;*/
    margin-top: -65px;
    padding-top: 0px;
    padding-left: 1050px;
    padding-right: 0px;
    padding-bottom: 0px;
    font-family: 'Piazzolla', serif;




}

.barra2{
   display: flex;
    justify-content: space-between;
    /*margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 550px;*/
    padding-top: 550px;
    padding-left: 400px;
    padding-right: 10px;
    padding-bottom: 0px;
    
}


.barra1{
    display: flex;
    justify-content: space-between;
    padding-top: 650px;
    padding-left: 120px;
    padding-right: 10px;
    padding-bottom: 0px;
    /*margin-top: 500px;
      margin-right: 10px;
      margin-bottom: 0px;
      margin-left: 150px;*/
      /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}


.barra{
    display: flex;
    justify-content: space-between;
  /*  margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 150px;*/
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 10px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.barrac{
  display: flex;
  justify-content: space-between;
/*  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 150px;*/
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.barrai{
  display: flex;
  justify-content: space-between;
  padding-left: 160px;
}

.centrar-texto{
  text-align: center;
}
.ver-todas{
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}

.icono-anuncio{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
  
}

.icono-anuncio2{
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 425px;
  
}


.Iconos-Nosotros{
  display: flex;
  justify-content: space-between;
  padding-right: 215px;  
}

.Iconos-Nosotros2{
  display: flex;
  justify-content: space-between;
  margin-left: -40px;  
}


/*.encabezado-nosotros{
  font-weight: 300;
  text-align: center;
}*/

.boton{
  text-decoration: none;
  display: flex;
 justify-content: center;
 color: white;
font-weight: bold;
text-align: center;
}

.boton-amarillo{
  background-color: #e08709;
  display: block;
  padding: 0.5rem;

}

.boton-verde{
  background-color: #71b100;
  margin-top: 2rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.boton-verde2{
  background-color: #4e714b;
  margin-top: 0.2rem;
  padding: 0.5rem;
  padding-top: 0.5px;
  max-width: 125px;
  display: flex;
  
}


.ver-todas{
  display: flex;
  padding-right: 155px;
}

.site-header.inicio{
    
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}

img{
  max-width: 100%;
}

.contenedor{
  max-width: 120rem; 
  margin: 0 auto; 

}

.contenedora{
  /*max-width: 120rem; */
  margin: 0 auto; 
  max-width: 95rem;
  
}

.contenedorn{
  /*max-width: 120rem; */
  margin: 0 auto; 
  max-height: 600px;
  
}

.Icono{
  padding-left: 80px;
  text-align: center;
  
}

.fw300{
  font-weight: 600;

}

.contenedor-nosotros{
  background-color: black;

  }
  
  .contenedor-footer{
      background-color: black;
      color: white;

  }
  
  .secundario{
      display: flex;
      justify-content: space-between;
      padding: 0 6rem;
      align-items: center;
  }
  .secundario p{
      color: white;
  }
  
  
  .contenido-header{
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .contenido-header h1{
      color: white;
      line-height: 1;
  }
  
  
  .contenedor-anuncios{
      display: flex;
      justify-content: space-between;
      max-width: 82rem;
      max-height: 600px;
      
      margin-left: 115px;
  } 
/*
  .centrar{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  }*/
  
.contenedor-blog{
  display: flex;
  justify-content: space-between;
}

.blogs{
  flex-basis: calc(33.3% - 1rem);
  border:1px solid #B5B5B5;
  background-color: #f5f5f5;

}

.contenido-blog{
  padding: 3rem 8rem;
}

  .anuncio{
     flex-basis: calc(33.3% - 1rem);
      border:1px solid #B5B5B5;
      background-color: #f5f5f5;
  }
  
  .contenido-anuncio{
      padding: 2rem 4rem;
  }

  .contenido-nosotros{
    padding-left: 580px;
    /*padding-block-end: 500px;*/
    margin-top: -420px;
  }

  small {
    font-size: .8em
}
  
    .nosotros1{
    
       color: black;
        border:1px solid white;
        background-color: white;
        padding-left: 40px;
        padding-inline-start: 300px;
        height: 1rem;
        min-height: 60rem;
    }
    
    .noso{
      margin-top: -480px;
    }
    /*.contenido-nosotros{
        padding: 2rem 4rem;
    }*/

  
  .contenido-anuncio h3, .contenido-anuncio p{
      margin: 0;
  }
  
  .precio{
      color: #71B100;
      font-weight: 700;
  }


  .margen-anuncios2{
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
  }
  
  /* CONTACTO HOME encuentra la casa de tus sueños */
  .imagen-contacto{
      background-image:url(../img/encuentra.jpg);
      background-position: center center;
      background-size: cover;
      height: 40rem;
      display: flex;
      align-items: center;
      margin-top: 1rem;
  }
  .contenido-contacto{
      flex: 1;
      color: white;
      font-weight: bold;
  }
  
  .contactanos{
      display: flex;
  }
  
.anuncio-barra{
  display: flex;
   justify-content: space-between;
   padding-left: 620px;
   margin-top: 15px;
   
}

.contenedor-seccion{
  display: flex;
  justify-content: space-between;
 /* padding-right: 375 px;*/
 
}

.contenedor-seccion4{
  
  width: 100%;
  height: 100%px;
  background:white;
  flex-direction: column;
  display: flex;
  
}

.movi{

 padding-left: 440px;

}

.contenedor-seccion5{
  
  width: 900px;
  height: 400px;
  background:white;
  flex-direction: column;
  display: flex;
  text-align: justify;
  padding-left: 400px;
  font-size: 19px;
  
}

.contenedor-seccion6{
  
  width: 900px;
  height: 430px;
  background:white;
  flex-direction: column;
  display: flex;
  text-align: justify;
  padding-left: 400px;
  font-size: 19px;
  
}

.contenedor-llenar{

  width: 620px;
  height: 1100px;
  background:white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left: 500px;
  margin-top: -20px;

}

.llenado1{

  justify-content: space-between;
  font-size: 16px;
  background-color: white;
  padding: 20px;
  
  
  
}



.texte{
  line-height: 0.5;
}



.contenedor-seccion3{

  width: 80%;
  height: 650px;
  background:white;
  margin: auto;
  flex-direction: column;
  display: flex;
  padding-right: 50px;
}

.Iconoi{
 
  justify-content: space-between;
  font-size: 15px;
  background-color: white;
  padding: 20px;

} 

.Iconoi2{


  float: right;
  width: 460px;
  height: 340px;
  background-color:#00BB2D;
  align-self: flex-end;
  margin-top: -495px;
  margin-right: 90px;
  border-radius:20px;

} 

.text3{
  text-align: center;
  color: white;
  font-size: 20px;
  

}

.text4{
padding-right: 20px;
color: white;
font-size: 22px;

}

.imagenc{
margin-left: 65px;
margin-top: -260px;

}


.Iconoi img{
float: left;
margin-right: 35px;
}

.text2{

  font-size: 22px;
  line-height: 1.5px;

}

.lado{
  display: flex;
  justify-content: space-between;
  margin-top: -300px;
  padding-left: 400px;
  

}


.ladoe{

  padding-bottom: 300px;

}

#texto{
  display: inline-block;
  vertical-align: top;
}



.contenedor-seccion2{
  display: flex;
  justify-content: space-between;
  padding-left: 500 px;
 
}
