h1{
    color: blue;
    top: 550px;
}

/*header*/

.site-header.inicio{
    
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.contenedor{
    /* max-width: 1200px; */
    /*margin: 0 auto; */
    width: 100%;

}

.barra{
    display: flex;

}